[submodule "ORB_SLAM3"]
	path = extern/ORB_SLAM3
	url = https://github.com/Linxius/ORB_SLAM3.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
